{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>

    <div class="register-container">
        <h2>Register Account</h2>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <li class="success">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="register-btn">Register</button>
        </form>

        <p class="login-text">
            Already have an account?
            <a href="{% url 'login_user' %}">Login</a>
        </p>
    </div>

</body>
</html>
