/* static/css/dashboard.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    background-color: #0a0f25;
    padding: 12px 0;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Brand / Logo */
.brand {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding-right: 40px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    color: #d1d5db;
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 4px;

    transition: 0.3s ease;
}

.nav-links a:hover {
    color: white;
    border-bottom: 2px solid #fff;
}

.nav-links .active {
    color: white;
    border-bottom: 2px solid #fff;
}

.logout-btn {
    background-color: #e5e7eb;
    color: #000 !important;
    padding: 6px 14px;
    border-radius: 4px;
    font-weight: 600;
}

.logout-btn:hover {
    background-color: #d4d4d4;
}




/* Student */
.student-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.student-card {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    padding: 15px;
    border-radius: 8px;
}

.student-card p {
    margin: 5px 0;
}

h2 {
    margin: 20px;
}
