body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.login-container {
    display: flex;
    width: 900px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* LEFT SIDE */
.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.left-section img {
    width: 90%;
}

/* RIGHT SIDE FORM*/
.right-section {
    flex: 1;
    padding: 60px 50px;
}

.right-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #dce3f1;
    background: #e9f0ff;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #4a88ff;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

.login-btn:hover {
    background: #3a78ee;
}

.signup-text {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
}
